# 设置固件大小
CONFIG_TARGET_KERNEL_PARTSIZE=50
CONFIG_TARGET_ROOTFS_PARTSIZE=1000

# 固件压缩
CONFIG_TARGET_IMAGES_GZIP=y

# 编译UEFI固件
CONFIG_EFI_IMAGES=y

# 编译ext4格式
CONFIG_TARGET_ROOTFS_EXT4FS=y

# 取消编译VMware镜像以及镜像填充
# CONFIG_TARGET_IMAGES_PAD is not set
CONFIG_VMDK_IMAGES=y

# IPv6支持
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y

# 多文件系统支持
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-squashfs=y

# USB3.0支持
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y

# samba 扩展
# CONFIG_PACKAGE_autosamba is not set
# CONFIG_PACKAGE_samba36-server is not set
# CONFIG_PACKAGE_luci-app-samba is not set
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_luci-app-cifsd=y

# 常用LuCI插件
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-filebrowser=y

# 翻墙插件
CONFIG_FEED_openclash=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-ssr-plus=y

# LuCI主题
CONFIG_PACKAGE_luci-theme-argon=y
# CONFIG_PACKAGE_luci-theme-argon-dark-mod is not set
CONFIG_PACKAGE_luci-theme-argon-light-mod=y

# 常用软件包
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_tree=y
CONFIG_PACKAGE_vim-fuller=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_luci-app-rclone=y
# CONFIG_DEFAULT_luci-app-ipsec-vpnd is not set



# Docker 配置
CONFIG_DEFAULT_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_docker_ce=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_ttyd=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_docker-ce=y